[Unit]
Description=mhb-thermostat-js
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/pi/mhb-thermostat-js
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
